@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  body{
    margin:auto 140px ;
    background-color: rgb(247, 247, 247);
    
  }

  /* shared style  */
  .btn-primary{
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(254, 163, 1);
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    width: 150px;


  }
  

  /* navbar */
  .logo{
    
  }
  .menu-bar{
    width: 30px;
    height: 30px;
    display: none;
  }
  .logo-text{
    font-size: 20px;
    
  }
  .ancor{
    text-decoration: none;
  }
 .logo-and-name{
    display: flex;
    align-items: center
  }
  .navbar .about-container .list-item{
    display: flex;
    list-style: none;
    gap: 24px;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #home{
    color: rgb(254, 163, 1);
    
  }
  #about{
    color: rgb(1, 172, 253);
  }
  #facilites{
    color: rgb(5, 212, 223);
  }
  #admission{
    color: rgb(93, 88, 239);
  }
  /* header style  */
  .header-container{
    width: 600px;
    
  }
  .header-title{
    font-size: 3.5rem;
    font-weight: 700;
  }
  #Empowering{
    color: rgb(254, 163, 1);
  }
  #towards-vision{
    color:rgb(1, 172, 253)
  }
  .header-description{
    font-size: 16px;
    font-weight: 350;
  }
  #header-btn{
    background-color: rgb(17, 17, 17);;
  }
  .header{
    display: flex;
    align-items: center;
  }

  /* Standard Curriculum style */
  .curriculum{
    background-image: url("../assets/bg.png");
    
    
    
    
  }
  .title-text{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .boxs{
    /* width: 310px; */
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 10px;
  }
  .box-description{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px;
    
  }
  .read-more{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(100, 200, 255);
  }
  #read-more-middle{
    color: rgb(135, 0, 255);
  }
#read-more-elementary{
    
    color: rgb(240, 170, 0);
}
#elementary-gradient{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#middle-gradient{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-boxs{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.arrow-btn{
    background-color: rgb(254, 163, 1);
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 15px 22px;
}
.arrow-btns{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* Our Stories style  */

.story-box{
  
  width: 15rem;
  height: 17rem;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  
}
.boxs-story{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
  
}
#box-1{
  grid-row: span 2;
  width: 540px;
  height: auto;
}

.btn{
  position: relative;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  padding: 12px 14px;
  color: rgb(255, 255, 255);
  width: 130px;            
  margin-top: -25px;
}
.story-title{
  font-size: 1.4rem;
  font-weight: 700;
}
.story-description{
color: rgb(102, 102, 102);
font-weight: 500;
font-size: 0.8rem;
}
.content-box-1{
padding: 0px 30px;
width: 400px;
text-align: left;
}
#story-1-img{
  border-radius: 16px 16px 0 0;
}
.story-2{
width: 100%;
border-radius: 16px 16px 0 0;
}
.box-title{
font-size: 1rem;
font-weight: 700;
}
.content-box{
width: 200px;
padding: 20px;
text-align: left;
}
.green-btn{
  position: relative;
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  padding: 12px 14px;
  color: rgb(255, 255, 255)
  width: 130px;            
  margin-top: -25px;
}
.purple-btn{
  background-color: rgb(93, 88, 240);
}
#view-all-btn{

  color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: black;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    width: 150px;
    margin-top: 80px;
    margin-bottom: 60px;
    
  
}
.story-section{
  
  background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-main-title{
  text-align: center;
  font-size: 2rem;

  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 80px;
}

/* footer section  */
footer{

  background: rgb(93, 88, 240);
}
.footer-logo-container{
  display: flex;
  align-items: center;
  
}
.footer-logo{
  width: 60px;
  height: 60px;
}
.footer-title{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  
}
.footer-1{
  margin-top: 100px ;
}
.footer-description{
  width: 300px;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding-left: 5px;
}
.footer-about-title{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-top: 120px ;
}
.about-items{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight:5400;
}
.social-icon{
width: 25px;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
  
  
}

  @media screen and (max-width: 576px) {
    body{
      margin:0 auto ;
      background-color: rgb(247, 247, 247);
      
    }
    .header{
      
        /* flex-direction: column; */
        flex-direction: column-reverse;
        margin-right: 10px;
        margin-left: 10px;
    }
    .navbar{
      flex-direction: column;
      }
      .menu-bar{
        display: block;
      }
      .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        width: 400px;
        padding-bottom: 5px;
        padding-top: 5px;
    
               

      }
      .logo-text, .about-container, .contant-btn{
        display: none;
      }
      .header-container{
        width: 280px;
        text-align: center;
        
      }
      .header img{
        width: 300px;
        margin-right: 10px;
        margin-left: 10px;
      }
      .header-title{
        font-size: 2.8rem;
        width: 320px;
        
      }
      .curriculum-boxs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
      }
      .story-box{
        text-align: center;
      }
      .box-title{
        /* background-color: brown; */
        width: 400px;
        
      }
      .title-text{
        font-size: 1.5rem;
        text-align: center;
        margin: 5px;
        width: 300px;
        text-align: center;
      }
     .curriculum{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 40px;
        gap: 10px;
        width: 100%;
        
        
        
     }
     .arrow-btn{
        display: none;
     }
     /* story  */
    
        #box-1 {
          display: none;
        }
      
        .boxs-story {
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          gap: 5px; 
          padding:8px; 
        }
      .story-main-title{
        font-size: 1rem;
      }
        
        .story-box {
          width: 170px; 
          height: 13rem;          
          overflow: hidden; 
        }
      
        .content-box {
          padding: 4px;          
        }
      
        .btn {
          width: 6rem;
          padding: 5px 8px; 
          font-size: 0.6rem;
        }
      
        .story-title, .box-title {
          font-size: 0.7rem; 
          overflow: hidden; 
          padding: 5px; 
          padding-right: 10px;
          height: 50px; 
          width: 130px;
                
        }
        /* footer section  */
        .footer-container{
          flex-direction: column;
          gap: 10px;
          margin-left: 20px;
        }
        .footer-description{
          width: 150px;
        }
        .footer-1, {
          margin-top: 20px;
        }
        .footer-about-us, .footer-about-title, .footer-title{
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .social-media{
          margin-bottom: 40px;
        }
        .marquee{
          /* display: none; */
          margin-top: 10px;
        }

      
      }
      
    
    
      
  


 